section
{
    text-align: center;
    margin: 5px 5px 5px 5px;
}
/* General Formatting*/
body
{
    background-color: rgb(206, 182, 77);
    margin: 0px 0px 0px 0px;
}

/* grid formatting */
header
{
    grid-area: header;
    text-align: center;
    font-size: 50px;
    border: 1px solid black; 
    margin: 5px 5px 5px 5px;       
    padding: 2px 2px 2px 2px;
    font-family: cursive;
    color: red;
}

/*nav bar formatting*/
nav
{
    grid-area: nav;
    border: 1px solid black; 
    margin: 5px 5px 5px 5px;     
}
/*Link list formatting to make it horizontal*/
ul.link-menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e05937;
    
}
li.link-item
{
    float: left;
}
li.link-item a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li.link-item a:hover 
{
    background-color: #d30f0f;
}
main
{
    grid-area: content;
    text-align: center;
    border: 1px solid black; 
    margin: 5px 5px 5px 5px;       
    padding: 2px 2px 2px 2px;
    
}

footer
{
    grid-area: footer;
    text-align: center;
    border: 1px solid black; 
    margin: 5px 5px 5px 5px;       
    padding: 2px 2px 2px 2px;
    font-family: cursive;
    color: red;
}

.page-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nav       nav"
        "header    header"
        "content   content"
        "footer    footer";
}


/* Home page formatting*/

/* hour list background format */
.hours
{
    background-color: white;
    background-position: center;
    
}
/* hour list format*/
.hour-list
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/* format for the title of the hours */
.hour-title
{
    font-style: italic;
    color: #d30f0f;
}
/* image format on home page */
.diner-image
{
    text-align: center;
}

/*About page formatting*/
.about-main
{
    background-color: white;
    font-size: 25px;
    text-align: center;
}
.about-footer
{
    background-color: white;
    font-size: 25px;
    text-align: center;  
}

/*Contact page formatting*/
.c-main
{
    background-color: white;
    font-size: large;
    text-align: center;
}

/*Menu page formatting*/


/*menu grid formatting*/
.menu-title
{
    font-family: cursive;
    color: red;
    font-size: 45px;
    grid-area: title;
}
/*Format subtitle if needed*/
.menu-subtitle
{
    font-size: 25px;
    grid-area: subtitle;
}
/*Formats image*/
.menu-image
{
    grid-area: image;
    text-align: left;
    border-top: 1px solid black;


}
/*Formats Description*/
.menu-description
{
    grid-area: description;
    text-align: center;
    border-top: 1px solid black;

}
/*Formats Price*/
.menu-price
{
    grid-area: price;
    text-align: right;
    border-left: 1px solid black;
    border-top: 1px solid black;


}
/*Grid within a grid was used to make menu look uniform and easy to read*/
.menu-container
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "title  title   title"
        "subtitle subtitle subtitle"
        "image  description  price";
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px
}
/*This was the only way I thought of getting a bottom border
without creating overlapping borders*/
.menu-container-end
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "title  title   title"
        "subtitle subtitle subtitle"
        "image  description  price";
    border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px
    
}
/*menu table formatting*/
.menu-table
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}